{% extends "base.html" %}

{% block content %}  

<h1>Sign up for Blogz!</h1>

<form action="/signup" method="POST">
    <p><label>Username: </label>
        <input type="text" name="username" value="{{ username }}"/>
    </p>
    <p><label>Password: </label> 
        <input type="password" name="password"/>
    </p>
    <p><label>Verify password: </label> 
        <input type="password" name="verify"/>
    </p>
    <input class="submit" type="submit" value="Submit!"/>
</form>    
   

{% endblock %}