html {
    font-family: Helvetica, sans-serif;
    color: #202099;
    margin-left: 2%;
}

a:hover {
    font-weight: bold;
    color: #000000;

}
a:visited {
    color: #202099;
}

.error {
    color: red;
}

.flashes {
    color: red;
}

.attribution {
    font-size: 10px;
    padding-left: 200px;
}

.session-info {
    float: right;
    font-size: 10px;
    padding-right: 50px;
}